<div class="span1"></div>
<div class="span10">
	<div class="well">
		<h1>guest information</h1>
		<p>You can find all the logistical information below: hotel, travel, and attractions.  If you have any questions, let us know!</p>
	</div>
	<div class="row-fluid">
	    <div class="span6">
	    	<div class="well">
		        <h2><i class="icon-home"></i>accommodations</h2>
		        <p>We have a block reserved under Lee-Buesching at the same location as the reception hall.  To reserve, go to <%= link_to('the Crowne Plaza website', 'http://www.crowneplaza.com/northbrookchi')%> with group code P9U by 4/26/2014, the last day of our reserved block.</p>
		    </div>
	    	<div class="well">
		        <h2>travel</h2>
		        <h3><i class="icon-road"></i>by car</h3>
		        <p>The venues and hotel are off of the highways, so it should be fairly easy to get around.</p>
		        <h3><i class="icon-plane"></i>by flight</h3>
		        <p>If you fly into Chicago, you can either go to Midway Airport (MDW) or O'hare International Airport (ORD).  We recommend flying in early or flying later so that you get time to explore the city! As they say, "My kind of town, Chicago!" Since the ceremony and the reception are in the suburbs, we recommend that you rent a car (not many public transportation options to the suburbs). </p>
		    </div>
	    </div>
	    <div class="span6">
	    	<div class="well">
		        <h2><i class="icon-home"></i>attractions</h2>
		        <p>If you haven't been to Chicago before, we highly recommend flying in early to explore the city.  There are so many things to do and see!</p>
		        <h3>sightseeing</h3>
		        <ul>
		        	<li><%= link_to('Sears (Willis) Tower', 'http://www.willistower.com/')%></li>
		        	<li><%= link_to('Navy Pier', 'http://navypier.com/')%></li>
		        	<li><%= link_to('Millenium Park', 'http://www.cityofchicago.org/city/en/depts/dca/supp_info/millennium_park.html')%></li>
		        	<li><%= link_to('Buckingham Fountain', 'http://en.wikipedia.org/wiki/Buckingham_Fountain')%></li>
		        	<li><%= link_to('Museums', 'http://www.chicagotraveler.com/chicago_museums.htm')%></li>
		        	<li><%= link_to('Other Events', 'http://chicago.metromix.com/events')%></li>
		        </ul>
		        <h3>eateries</h3>
		        <ul>
		        	<li><%= link_to('Lou Malnatis Pizzeria', 'http://www.yelp.com/biz/lou-malnatis-pizzeria-chicago')%></li>
		        	<li><%= link_to('Portillos', 'http://www.portillos.com/')%></li>
		        	<li><%= link_to('Alinea', 'http://www.yelp.com/biz/alinea-chicago')%></li>
		        	<li><%= link_to('Girl and the Goat', 'http://www.yelp.com/biz/girl-and-the-goat-chicago')%></li>
		        	<li><%= link_to('Frontera', 'http://www.yelp.com/biz/frontera-grill-chicago')%></li>
		        	<li><%= link_to('Greek Island Restaurant', 'http://www.yelp.com/biz/frontera-grill-chicago')%></li>
		        	<li><%= link_to('Deliciousness', 'http://www.yelp.com/chicago')%></li>
		        </ul>
		    </div>
	    </div>
	</div>
</div>