<div class="span1"></div>
<div class="span10">
    <div class="well">
        <h1>our bridal party</h1>
        <div class="row-fluid">
        	<p>We have great friends. They rock</p>
        </div>
    </div>

    <div class="row-fluid">
    	<div class="span6">
            <div class="well">
                <h2>bridesmaids</h2>
                <hr />

                <h3>Patricia Hendricks</h3>
                <p>Maid of Honor</p>
                <%= image_tag('pat.png') %>
                <p>Patty and I met through my old roommate, Marcia, when she decided to leave.  Since then, I think of Patty as my adopted sister, someone I can talk to about everything and rely on. Patty has been very supportive in helping to plan the wedding -- at times more excited about wedding planning than I was :)</p>
                <hr />

                <h3>Marcia Lee</h3>
                <%= image_tag('marcia.png') %>
                <p>Marcia, also known as Potato, used to be my, Zucchini's, roommate in Seattle.  We used to have sleepovers on our fluffy carpet and cook delicious meals together.  Even though we had a short journey of 4 months living together, Marcia is the best roommate that I have ever had. We made quite a pair.</p>    
                <hr />

                <h3>Kiersten Camp</h3>
                <%= image_tag('kiersten.png') %>
                <p>Kiersten has been a very close friend since high school.  Our relationship started off in London, when we had to share a room together.  When we walked into the hotel room, one bed was a queen and the other was a cot.  Kiersten offered to take the cot, but I felt bad so I said we should put the two beds together.  From there, it's history.</p>    
                <hr />

                <h3>Beth Richter</h3>
                <%= image_tag('beth.png') %>
                <p>Beth and Janis were neighbors all throughout college.  The relationship was a quick one, where they met each others' parents on the first day.  Even though they would go months, even years, where we lost touch, it felt as if we never missed anything in our friendship.</p>    
                <hr />

                <h3>Lyndsay Buesching</h3>
                <%= image_tag('lyndsay.png') %>
                <p>Lyndsay is Logan's older sister. I first met Lyndsay when </p>    
                <hr />

                <h3></h3>
                <p>Flower Girl</p>
                <p>Little girl</p>
            </div>
        </div>
        <div class="span6">
            <div class="well">
                <h2>groomsmen</h2>
                <hr />
                <h3>Landon Buesching</h3>
                <p>Best Man</p>
                <%= image_tag('landon.png') %>
                <p>Landon is Logan's older brother. Growing up together, they played sports, fought all the time, and conspired to spike other people's drinks. Even though they didn't always see eye-to-eye, they always had each other's back.</p>
                <p><em>Sorry, ladies, Landon is taken</em></p>
                <hr />

                <h3>Justin Wolfe</h3>
                <%= image_tag('justin.png') %>
                <p>Justin was Logan's neighbor growing up - since they were 3 years old. </p>
                <p><em>Sorry, ladies, Justin is taken</em></p>
                <hr />

                <h3>Kyle Ellis</h3>
                <%= image_tag('kyle.png') %>
                <p>He's got a big dog.</p>
                <p><em>Kyle is an eligible bachelor</em></p>
                <hr />

                <h3>Bryce Hutchins</h3>
                <%= image_tag('bryce.png') %>
                <p>Bryce has been like a brother to Janis and Logan.  Janis met Bryce while working on Windows Live Family Safety at Microsoft and had lots in common with Logan.  Eventually, when they were house hunting, they decided to be neighbors in Kirkland and buy houses within 2 miles of each other.</p>
                <p><em>Bryce is an eligible bachelor</em></p>
                <hr />

                <h3></h3>
                <p>Ring Bearer</p>
                <p>A kid</p>
            </div>
        </div>
    </div>
</div>